table {
  border-spacing: 0;
  border: 1px solid #ddd;
  color: black;
  overflow-y:auto;
  width: 100%;
}

th {
  cursor: pointer;
}

.container {
  max-width: 100%;
  min-width: 1000px;
}

.tableWrapper {
	overflow-y: auto;
	overflow-x: none;
	height:80vh;
}

th, td {
  text-align: center;
  padding: 4px;
}

tr:hover {
	background-color: LightGreen !important;
	cursor: pointer;
}

tr{
  background-color: #f2f2f2;
}

.toggleActive {
  background-color:#A1A1A1;
}

div {
  text-align: center;
}

@keyframes rainbowBarf {
  0%  {background:hsl(0,100%,50%);color:hsl(180,100%,50%);}
  25%  {background:hsl(90,100%,50%);color:hsl(270,100%,50%);}
  50% {background:hsl(180,100%,50%);color:hsl(360,100%,50%);}
  75% {background:hsl(270,100%,50%);color:hsl(90,100%,50%);}
  100% {background:hsl(360,100%,50%);color:hsl(180,100%,50%);}
 }


