table {
  border-spacing: 0;
  border: 1px solid #ddd;
  color: black;
  overflow-y:auto;
  width: 100%;
}

body {
  background-color: #DDE9F5;
  text-align: center !important;
}

th {
  cursor: pointer;
  background-color: #f2f2f2;
}

.container {
  max-width: 100% !important;
  min-width: 1000px;
}

.tableWrapper {
	overflow-y: auto;
	overflow-x: none;
	height:100vh;
}

th, td {
  text-align: center !important;
  padding: 4px;
}

tr:hover {
	background-color: LightGreen !important;
	cursor: pointer;
}

.toggleActive {
  background-color:#A1A1A1;
}

img {width:auto; max-height:40}

.dt-button {
  font-size: 10px !important;
}
.dt-button.toggleActive {
  background-color:#A1A1A1 !important;
}
tr{
  background-color: #FFF;
}

.dataTables_scrollBody {
  overflow-x:hidden !important;
  overflow-y:auto !important;
}


