table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#hidn {display:none;}

.toggleActive {
  background-color:#A1A1A1;
}

#folderViewer {
	float: right;
	width: 40vw;
}

#cardSelectionList {
	float: left;
	width: 60vw;
}